@model IEnumerable<RealEstates.Web.Models.Home.PropertyViewModel>

<h1>Hotels</h1>

<div>
    @foreach (var property in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="villa112142" class="villa">
                        <div class="villaImageContainer">
                            <a class="villaLink villaLinkImage">
                                <img src="http://therealestatenatural.com/wp-content/uploads/2014/06/best-Real-Estate-Logo-For-Blogger.jpg">
                            </a>
                        </div>
                        <div class="villaDescription">
                            <h3><a class="villaLink villaLinkTitle">@property.Title</a></h3>
                            <p class="service">@property.Sity</p>
                            <p class="service">@property.PropertyStatus</p>
                            <p>@property.Price € </p>
                            <a class="villaLink viewVillaButton button small buttonPrimary">See more..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
</div>