<div class="row">
    <div class="form-group">
        <div class="col-md-2 control-label"></div>
        <div class="col-md-10">
            <input type="file" name="ImageUpload" />
        </div>
    </div>
</div>