body {
    background-color:lightblue;
    background-size: 100%;
    height: 140px;
    display: block;
    padding: 0 !important;
    margin: 0;
}

#logo {
    width: 160px;
}


nav {
    z-index: 1;
}

#inscription {
    font-family: 'Lobster', cursive;
    color: antiquewhite;
    font-size: 40px;
}

.navbar {
    margin: 10px;
    font-size: 1.1em;
    font-family:'Times New Roman';
    background-color:steelblue;
}

.dropbtn {
    padding: 5px 20px 5px 20px;
    border: none;
    background-color:steelblue;
    margin-left:10px;
    color: aliceblue;
}

li.dropbtn a{
    color: white;
    text-decoration: none;
}

.dropbtn:hover {
    background-color:cornflowerblue;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:steelblue;
    min-width: 60px;
}

.dropdown-content a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: cornflowerblue;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.background-white {
    background-color: white;
    width: 70%;
    margin-left: 200px;
}

.map {
    margin-left: 50px;
}

.info {
    padding: 30px;
    margin-left: 50px;
}

.login {
    margin-top: 5px;
    float: right;
}

.register {
     margin-top: 5px;
}

#search {
     margin-top: 25px;
     border-radius: 5px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-control {
    margin-top: 8px;
    width: 270px;
}

#form-contact {
    margin-left: 55px;
}

.about {
    width: 60%;
    height: 700px;
    background-color: white;
}

.about-text {
    font-size: 20px;
    font-family: Cambria, Georgia, serif;
    padding-top: 40px;
}

.navbar-default .navbar-nav > li > a {
    color:white;
}

.villaImageContainer {
    height: 250px;
}

.villa {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px 5px #e6e6e6;
}

.villaDescription {
    position: relative;
    min-height: 60px;
    padding: 15px;
    background-color: #fff;
    border: #ccc solid 1px;
    border-top: none;
    overflow: hidden;
}


.villaDescription h3 {
    margin: 0;
    padding-right: 130px;
    font-size: 20px;
    white-space: nowrap;
}
.villaDescription .service, .villaDescription .pricing {
    margin: 0;
    padding-right: 130px;
    color: #999;
    font-size: 15px;
}

.button.buttonPrimary, button.buttonPrimary, input[type="submit"].buttonPrimary, input[type="reset"].buttonPrimary, input[type="button"].buttonPrimary {
    color: #fff;
    background-color: #28c089;
    border-color: #28c089;
}
.button.small, button.small, input[type="submit"].small, input[type="reset"].small, input[type="button"].small {
    font-size: 15px;
    line-height: 45px;
    padding: 0 15px;
}
.viewVillaButton {
    position: absolute;
    right: 15px;
    top: 35px;
}