@model IEnumerable<RealEstates.Data.Models.Property>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" style="background-color:white; border: inset">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Title</th>
                    <th>Created on</th>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Delete</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td style="word-break:break-word">@item.Author.Email</td>
                    <td style="word-break:break-word">@item.Title</td>
                    <td>@item.CreatedOn</td>
                    <td><a href="PropertiesAdmin/Edit/@item.Id" class="btn btn-warning btn-xs">edit</a></td>
                    <td><a href="PropertiesAdmin/Details/@item.Id" class="btn btn-success btn-xs">details</a></td>
                    <td><a href="PropertiesAdmin/Delete/@item.Id" class="btn btn-danger btn-xs">delete</a></td>
                </tr>
            }
        </table>
    </div>
</div>


        
        




